body {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 2em;
    width: max-content;
    text-align: center;
    color: #cb5bff;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    letter-spacing: -5%;

}